@import "bootstrap";

html{
	overflow-y:scroll;
}

body{
	padding-top: 60px;
}

section{
	overflow:auto;
}

textarea{
	resize:vertical;
}

.center{
	text-align:center;
}

.centerh1{
	margin-bottom:10px;
}
/*書式に関して*/
h1,h2,h3,h4,h5,h6{
	line-height:1;
}
h1{
	font-size:3em;
	letter-spacing: -2px;
	margin-bottom:30px;
	text-align:center;
}

h2{
	font-size:1.2em;
	letter-spacing:-ipx;
	margin-bottom:30px;
	text-align:center;
	font-weignt:normal;
	color:#999;
}

p{
	font-size:1.1em;
	line-height:1.7em;
}

/*ヘッダーに関して*/
header{
	color: #999;
	margin-left:1em;
	margin-right:1em;
	div{margin-right:1em;}
}
#logo{
	float: left;
	margin-right:1em;
	font-size:1.7em;
	color: #fff;
	text-transform:uppercase;
	letter-spacing:-1px;
	padding-top:9px;
	font-weight:bold;
	line-height:1;
}

#logo:hover{
	color:#fff;
	text-decoration:none;
}


/*フッターに関して*/
footer{
	margin-top:45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color: #999;
	margin-left:1em;
	margin-right:1em;
}
footer a{
	color:#555;
}
footer a:hover{
	color:#222;
}
footer small{
	float:left;
}
footer ul{
	float:right;
	list-style:none;
}
footer ul li{
	float: left;
	margin-left:10px;
}